<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>币种</th>
        <th>操作次数</th>
        <th>操作时间</th>
        <th>收益</th>
        <th>下单</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>BTC</td>
        <td>10</td>
        <td>2018/02/05</td>
        <td>10%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>2</td>
        <td>LTC</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>EOS</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>EOS</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>OMG</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>HT</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>NEO</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    <tr>
        <td>3</td>
        <td>QTUM</td>
        <td>15</td>
        <td>2018/02/08</td>
        <td>30%</td>
        <td>详情</td>
    </tr>
    </tbody>
</table>