<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" style="height: 50px; width: 50px" src="img/profile.jpg" />
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">MWY</strong>
                             </span> <span class="text-muted text-xs block">币圈小韭菜 <b class="caret"></b></span> </span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="login.html">Logout</a></li>
            </ul>
          </div>
          <div class="logo-element">
            BTC
          </div>
        </li>
        <li>
          <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">币种</span></a>
        </li>
        <li>
          <a href="layouts.html"><i class="fa fa-money"></i> <span class="nav-label">收益</span></a>
        </li>

      </ul>
    </div>
  </nav>
</div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/inspinia.js"></script>
</body>
</html>