<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" style="height: 50px; width: 50px" src="img/profile.jpg" />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">MWY</strong>
                             </span> <span class="text-muted text-xs block">币圈小韭菜 <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BTC
                </div>
            </li>
            <li>
                <a href="coin"><i class="fa fa-diamond"></i> <span class="nav-label">币种</span></a>
            </li>
            <li>
                <a href="money"><i class="fa fa-money"></i> <span class="nav-label">收益</span></a>
            </li>

        </ul>
    </div>
</nav>